
CREATE TABLE [finanza].[tbConceptosPago](
	[Cpa_Id] [int] IDENTITY(1,1) NOT NULL,
	[Cpa_Descripcion] [nvarchar](120) NOT NULL,
	[Cpa_EsRecurrente] [bit] NOT NULL,
	[Cpa_EsObligatorio] [bit] NOT NULL,
	[Cpa_EsActivo] [bit] NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cpa_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbCuentasCobrar]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbCuentasCobrar](
	[Cco_Id] [int] IDENTITY(1,1) NOT NULL,
	[Alu_Id] [int] NOT NULL,
	[Cpa_Id] [int] NOT NULL,
	[Tar_Id] [int] NULL,
	[Cco_MontoOriginal] [decimal](18, 2) NOT NULL,
	[Cco_MontoDescuento] [decimal](18, 2) NOT NULL,
	[Cco_MontoMora] [decimal](18, 2) NOT NULL,
	[Cco_MontoTotal] [decimal](18, 2) NOT NULL,
	[Cco_MontoPendiente] [decimal](18, 2) NOT NULL,
	[Cco_FechaEmision] [date] NOT NULL,
	[Cco_FechaVencimiento] [date] NOT NULL,
	[Epa_Id] [int] NOT NULL,
	[Cco_Observaciones] [nvarchar](300) NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cco_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbCuentasCobrarHistorial]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbCuentasCobrarHistorial](
	[Cgh_Id] [int] IDENTITY(1,1) NOT NULL,
	[Cco_Id] [int] NOT NULL,
	[Cgh_Accion] [nvarchar](30) NOT NULL,
	[Cgh_Detalle] [nvarchar](400) NULL,
	[Cgh_Fecha] [datetime2](0) NOT NULL,
	[Cgh_Usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cgh_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbDescuentos]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbDescuentos](
	[Des_Id] [int] IDENTITY(1,1) NOT NULL,
	[Des_Descripcion] [nvarchar](120) NOT NULL,
	[Des_TipoDescuento] [char](1) NOT NULL,
	[Des_Valor] [decimal](18, 2) NOT NULL,
	[Des_EsActivo] [bit] NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Des_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbDescuentosAplicados]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbDescuentosAplicados](
	[Dap_Id] [int] IDENTITY(1,1) NOT NULL,
	[Cco_Id] [int] NOT NULL,
	[Des_Id] [int] NOT NULL,
	[Dap_MontoAplicado] [decimal](18, 2) NOT NULL,
	[Dap_Justificacion] [nvarchar](300) NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dap_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbEstadosPago]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbEstadosPago](
	[Epa_Id] [int] IDENTITY(1,1) NOT NULL,
	[Epa_Descripcion] [nvarchar](50) NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Epa_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbFormasPago]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbFormasPago](
	[Fpa_Id] [int] IDENTITY(1,1) NOT NULL,
	[Fpa_Descripcion] [nvarchar](80) NOT NULL,
	[Fpa_EsActivo] [bit] NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Fpa_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbMoratorias]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbMoratorias](
	[Mor_Id] [int] IDENTITY(1,1) NOT NULL,
	[Cco_Id] [int] NOT NULL,
	[Mor_DiasAtraso] [int] NOT NULL,
	[Mor_Porcentaje] [decimal](9, 4) NOT NULL,
	[Mor_MontoMora] [decimal](18, 2) NOT NULL,
	[Mor_FechaCalculo] [date] NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbPagos]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbPagos](
	[Pag_Id] [int] IDENTITY(1,1) NOT NULL,
	[Alu_Id] [int] NOT NULL,
	[Enc_Id] [int] NULL,
	[Fpa_Id] [int] NOT NULL,
	[Pag_MontoTotal] [decimal](18, 2) NOT NULL,
	[Pag_FechaPago] [datetime2](0) NOT NULL,
	[Pag_NumeroReferencia] [nvarchar](60) NULL,
	[Pag_Observaciones] [nvarchar](300) NULL,
	[Usu_Id] [int] NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pag_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbPagosDetalle]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbPagosDetalle](
	[Pde_Id] [int] IDENTITY(1,1) NOT NULL,
	[Pag_Id] [int] NOT NULL,
	[Cco_Id] [int] NOT NULL,
	[Pde_MontoAplicado] [decimal](18, 2) NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pde_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbPagosHistorial]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbPagosHistorial](
	[Pgh_Id] [int] IDENTITY(1,1) NOT NULL,
	[Pag_Id] [int] NOT NULL,
	[Pgh_Accion] [nvarchar](30) NOT NULL,
	[Pgh_Detalle] [nvarchar](400) NULL,
	[Pgh_Fecha] [datetime2](0) NOT NULL,
	[Pgh_Usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pgh_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbRecibos]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbRecibos](
	[Rec_Id] [int] IDENTITY(1,1) NOT NULL,
	[Pag_Id] [int] NOT NULL,
	[Rec_NumeroRecibo] [nvarchar](40) NOT NULL,
	[Rec_FechaEmision] [datetime2](0) NOT NULL,
	[Rec_RutaArchivo] [nvarchar](260) NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Rec_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Rec_NumeroRecibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [finanza].[tbTarifas]    Script Date: 12/11/2025 19:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [finanza].[tbTarifas](
	[Tar_Id] [int] IDENTITY(1,1) NOT NULL,
	[Cpa_Id] [int] NOT NULL,
	[Niv_Id] [int] NULL,
	[Cun_Id] [int] NULL,
	[Tar_Monto] [decimal](18, 2) NOT NULL,
	[Tar_AnioVigencia] [smallint] NOT NULL,
	[Per_EsEliminado] [bit] NOT NULL,
	[Per_UsuarioRegistra] [int] NOT NULL,
	[Per_FechaRegistra] [datetime2](0) NOT NULL,
	[Per_UsuarioModifica] [int] NULL,
	[Per_FechaModifica] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tar_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO